{
	"gobel": {
		"dbhost": "127.0.0.1",
		"dbport": "3308",
		"dbuser": "root",
		"dbpassword": "password",
		"database": "bmf-tech"
	},
	"rubel": {
		"dbhost": "127.0.0.1",
		"dbport": "3309",
		"dbuser": "root",
		"dbpassword": "password",
		"database": "bmf_tech"
	}
}
